{% extends "main.html" %}
{% block content %}
    {% include "header.html" %}
    <div class="main">
        {% with categories=categories %}
            {% include "sidenav.html" %}
        {% endwith %}
        <div class="items">
            <a href="/catalog/additem">Add Item</a>
            <h2> Latest items </h2>
            {% for item in latest %}
                <ul> <a href="{{url_for('showDescription', category_name=item.Category.name, title=item.Item.title)}}"> {{ item.Item.title }}</a> </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}